* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: grey;
  }

  h1, h2 {
    padding: 5px;
    background-color: black;
    color: white;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 20px;
  }

  p {
    width: 1400px;
    margin-left: 15px;
  }

  img {
    margin-left: 15px;
    margin-bottom: 15px;
  }

  li {
    margin-bottom: 3px;
    margin-left: 50px;
    list-style-type: disc;
  }