* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.page {
    display: flex;
    flex-wrap: wrap;
}

.header {
    display: flex;
    align-items: center;
    height: 100px;
    width: 1440px;
    background-color: #0000FF;
}

h1 {
    color: white;
    margin-left: 30px;
    font-family: Helvetica;
    font-size: 25px;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
}

.boxes {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 102px;
    padding-bottom: 102px;
}

.box {
    display: flex;
    height: 300px;
    width: 600px;
    border-radius: 0px;
    border: 5px solid #000000;
    justify-content: center;
    align-items: center;
}

p {
    font-family: Helvetica;
    font-size: 50px;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0em;
    text-align: center;
}

.footer {
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 1440px;
    align-items: center;
    background-color: #0000FF;
}

.copy {
    font-family: Helvetica;
    font-size: 25px;
    font-weight: 400;
    line-height: 57px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFF;
    margin-left: 50px;
}

.link {
    font-family: Helvetica;
    font-size: 25px;
    font-weight: 700;
    line-height: 28,75px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFF;
    margin-right: 50px;
}

a:link {
    color: #FFF;
    text-decoration: none;
}

@media only screen and (min-width: 350px) and (max-device-width: 850px) {
    .boxes {
      gap: 41px;
      padding: 20px;
    }

    .box {
        height: 165px;
        width: 330px;
    }
    p {
        font-size: 25px;
        line-height: 29px;
    }
}