* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .header, .footer {
    display: flex;
    width: 100%;
    background-color:#FFE138;
    justify-content: center;
    align-items: center;
  }

  h1 {
    font-family: Times New Roman;
    font-weight: 400;
    line-height: 57px;
    letter-spacing: 0em;
  }

  .columns {
    display: flex;
  }

  .column {
    display: flex;
    flex-direction: column;
    border: 1px solid #000000;
  }

  /* mobile */
  @media screen and (max-width: 400px) {
    .columns {
        padding: 5px;
        flex-direction: column;
        gap: 15px;
    }

    .column {
        gap: 10px;
    }
  }

    /* tablet */
  @media screen and (min-width: 401px) and (max-width: 1180px) {
    .columns {
        flex-wrap: wrap;
        justify-content: center;
        padding: 5px;
        gap: 10px;
    }
    .column {
        max-width: 400px;
        gap: 15px;
    }
  }

  /* Desktop */
   @media only screen and (min-width: 1181px) {
    .columns {
        justify-content: center;
        gap: 50px;
        margin-top: 70px;
    }
    .column {
        max-width: 400px;
        height: fit-content;
    }

    .column h2 {
        padding: 30px;
    }

    .column p {
        padding: 0 30px 30px 30px;
    }

    .footer {
        margin-top: 70px;
    }
   }