* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  a:link, a:visited {
    text-decoration: none;
    color: #E50043;
  }

  body {
    height: 3359px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .header {
    display: flex;
    justify-content: space-between;
    height: 140px;
    width: 1440px;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: #FFF;
  }

  .logo {
    color:#E50043;
    font-size: 35px;
    margin-left: 50px;
  }

  .menu > li {
    display: inline;
    font-size: 50px;
    border-bottom: 1px solid #FFF;
    color: #E50043;
    margin-right: 50px;
  }

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 950px;
    width: 1440px;
    background-image: url(images/evian_origins_logo.png);
    margin-top: 140px;
}

.hero h1 {
    color: #E50043;
    font-size: 100px;
    font-weight: 400;
}

.waterbox {
    display: flex;
    width: 1040px;
    height: 280px;
    border: 3px solid #F8BFC7;
    border-radius: 20px;
    margin-top: 150px;
    margin-left: 201px;
}

.waterbox pre {
    font-family: Arial;
    font-size: 25px;
    line-height: 29px;
    letter-spacing: 0.05em;
    text-align: left;
    padding: 24px;
}

.bottles {
    display: flex;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 150px;
}

.bottlesnames {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 216px;
    padding-right: 216px;
    padding-top: 48px;
}

p {
    font-family: Arial;
    font-size: 25px;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
}

.item1 img {
    height: 220px;
    width: 101px;
    margin-top: 30px;
    margin-left: 80px;
}

.item1 pre {
    padding-left: 80px;
}

.footer {
    display: flex;
    justify-content: space-between;
    height: 140px;
    width: 1440px;
    align-items: center;
    background-color: #F8BFC7;
    margin-top: 290px;
}

.copy {
    font-family: Arial;
    font-size: 50px;
    font-weight: 400;
    line-height: 57px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFF;
    margin-left: 50px;
}

.link {
    font-family: Arial;
    font-size: 50px;
    font-weight: 400;
    line-height: 57px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFF;
    margin-right: 50px;
}