* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .header-container {
    display: flex;
    width: 1440px;
    height: 60px;
    background-color:#FE1A19;
    align-items: center;
  }

  .header {
    color: white;
  }

  .main {
    display: flex;
  }

  .main-item {
    flex:1;
    height: 800px;
    width: 400px;
    border: 5px solid #E5E000;
    border-radius: 30px;
    margin-top: 112px;
    margin-bottom: 112px;
    margin-left: 70px;
    margin-right: 70px;
  }

  .footer {
    display: flex;
    height: 60px;
    width: 1440px;
    height: 60px;
    background-color:#FE1A19;
  }

  .footer-item {
    display: flex;
    flex: 1;
    align-items: center;
  }

  .footer-one {
    margin-left: 20px;
  }

  .footer-two {
    justify-content: right;
    margin-right: 20px;
  }

  .cop {
    size: 20px;
    color: white;
  }

  .name {
    margin-top: 33px;
    margin-left: 33px;
    margin-right: 150px;
    font-size: 10px;
    font-weight: 700;
    position: absolute;
  }

  .paragraph1 {
    margin-top: 97px;
    margin-left: 33px;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
  }
